* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: 
		linear-gradient(
			rgba(235,235,235,0.95),
			rgba(235,235,235,0.90)
		),
		url(../../assets/img/WatchVectors.png);
	background-repeat: repeat;
	background-size: 400px;
	background-attachment: fixed;
}

html {
	scroll-behavior: smooth;
}

#menubar {
	background-color: rgba(196, 25, 25, 0.9);
	width: 100%;
	top: 0;
}
.navbar {
  overflow: hidden;
  background-color: rgba(196, 25, 25, 0.9);
/*  position: sticky;*/ /* Set the navbar to fixed position */
/*  top: 0;*/ /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
/*  display: block;*/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

#menubar img {
	width: 50px;
}

#homepage {
	margin-top: 15%;
	padding-left: 15px;
	padding-right: 15px;
	background: 
		linear-gradient(
			rgba(235,235,235,0.70),
			rgba(235,235,235,0.70)
		),
		url(../../assets/img/swatchtype1landscape.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
/*	background-color: rgba(196, 25, 25, 0.2);*/
}

#homepageleft {
	background-color: rgba(188,105,105, 0.6);
	border-radius: 8px;
	margin-top: 3%;
	margin-bottom: 3%;
}

#homepagelefttitle {
	margin-left: 15%;
	margin-top: 5%;
	margin-bottom: 5%;
	text-align: center;
	height: 200px;
	padding-top: 5%;
	padding-bottom: 10%;
	padding-right: 40%;
	background-color: rgba(150,18,18,0.85);
}

@media only screen and (max-width: 400px) {
  #homepagelefttitle {
	margin-left: 0%;
	}
}

#homepagelefttitle h2 {
	font-size: 50px;
	font-weight: bolder;
	color: white;
}

@media only screen and (max-width: 400px) {
  #homepagelefttitle h2 {
	font-size: 40px;
	margin-top: 20%;
	margin-left: 20%;
	}
}


#homepageleftdis {
	text-align: center;
	background-color: rgba(150,18,18,0.9);
}

#homepageleftdis h5 {
	font-weight: bold;
	color: white;
}

#hrhomepagetitle {
	border: 4px solid rgba(155, 15, 38,0.9);
	background-color: rgba(89,12,29,0.9);
}

#homepageleftdesc1, #homepageleftdesc2 {
	font-size: 15px;
	margin-top: 5%;
}

#homepageleftdesc3 {
	font-size: 20px;
	margin-top: 10%; 
	background-color: rgba(89,12,29,0.7);
}

@media only screen and (max-width: 400px) {
  #homepageleftdesc3 {
	font-size: 20px;
	margin-top: 15%;
	}
}


#homepageright {
	padding: 0px;
	width: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#homepagerightbox1 {
	width: 100%;
	height: 70%;
	margin: 0px auto;
	background-color: rgba(188,105,105, 0.6);
	padding: 3%;
	border-radius: 8px;
}
#homepagerightbox2 {
	background-color: rgba(196,25,25,0.3);
	width: 70%;
	margin: 0px auto;
	padding: 6%;
	border-radius: 8px;
}
#homepagerightbox3 {
	background-color: rgba(150,18,18,0.5);
	width: 90%;
	margin: 0px auto;
	padding: 4%;
	border-radius: 8px;
}
#homepagerightbox4 {
	background-color: rgba(188,105,105,0.7);
	width: 80%;
	margin: 0px auto;
	padding: 4%;
	border-radius: 8px;
}

#homepagecarousel {
	border-radius: 8px;
}

.carousel-item img {
	border-radius: 8px;
	width: 100px;
}


#product {
	margin-top: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
	background-color: rgba(196, 25, 25, 0.2);
}

.productcontainer {
	background-color: rgba(196, 25, 25, 0.2);
	border-radius: 8px;
	height: 100%;
}

.image-container img {
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: auto;
	display: block;
}

.productdesccontainer {
	margin: 1%;
	padding-left: 3%;
	padding-right: 3%;
	border: 3px solid rgba(196, 25, 25,0.2);
	border-radius: 8px;
	font-weight: bold;
	font-size: 15px;
	text-align: center; 
	background-color: rgba(196, 25, 25,0.2);
}

.productdesccontainer a {
	color: maroon;
}

.productdesccontainer a:hover {
	background-color: white;
	color: rgba(196, 25, 25,0.8);
}

#hrproduct, #hrproduct2 {
	border: 4px solid rgba(155, 15, 38,0.9);
	background-color: rgba(89,12,29,0.9);
}

#producttitle {
	color: rgba(155, 15, 38,0.9);
	text-align: center;
}


#bestcollection {
	width: 100%;
	height: 50%;
/*	background-color: rgba(196, 25, 25,0.2);*/
	margin: 0px;
	margin-top: 3%;
	margin-bottom: 3%;
}

#hrbestcollection, #hrbestcollection2 {
	border: 4px solid rgba(155, 15, 38,0.9);
	background-color: rgba(89,12,29,0.9);
	text-align: center;
}

#bestcollectiontitle {
	color: rgba(155, 15, 38,0.9);
	background-color: rgba(89,12,29,0.7);
	text-align: center;
}

#bestcollectionproduct {
	margin-bottom: 3%;
	background: 
		linear-gradient(
			rgba(89,12,29,0.7),
			rgba(89,12,29,0.7)
		),
		url(../../assets/img/swatcheventlandscape2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#bestcollectionproduct div {
	width: 70%;
	margin-top: 3%;
	height: 230px;
	border-radius: 100%;
	padding: 0px;
}

#bestcollectionproduct img {
	width: 80%;
	height: 100%;
	border: 8px solid rgba(196, 25, 25,0.2);
	object-fit: cover;
	object-position: 45% 50%;

}

@media only screen and (max-width: 400px) {

	#bestcollectionproduct div {
		width: 70%;
		margin-top: 3%;
		height: 230px;
		border-radius: 100%;
		padding: 0px;
		margin: 0 auto;
	}

}

.img-hover-zoom {
  height: 300px; 
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

#makeyourowntitle{
	margin-top: -9%;
	background-color: rgba(158,18,18,0.6);
/*	margin-bottom: 20%;*/
}

@media only screen and (max-width: 400px) {
  #makeyourowntitle {
	margin-top: 5%;
	}
}

#makeyourowntitle2 {
	margin-top: -3%;
	background-color: rgba(158,18,18,0.6);
	margin-bottom: 10%;
	text-align: center;
}

@media only screen and (max-width: 400px){
	#makeyourowntitle2 {
	margin-top: -9%;
	margin-bottom: 10%;
	text-align: center;
	}
}

#makeyourowntitle2:hover {
	background-color: rgba(235,235,235,0.6);
	color: maroon;
	border-radius: 1px;
}

#hrmakeyourown {
	border: 4px solid rgba(235, 235,235, 0.4);
}

#makeyourown span {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
}

#makeyourown a {
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bolder;
	color: rgb(155, 15, 38);
}

#aboutus {
	background-color: rgba(158,18,18,0.6);
}

/*#aboutus div {
	border: 1px solid black;
	color: black;
}
*/
#aboutus h1 {
	text-align: center;
	font-size: 25px;
}


#hraboutus1, #hraboutus2 {
	border: 4px solid rgba(155, 15, 38,0.9);
	background-color: rgba(89,12,29,0.9);
}

#aboutustitle {
	background-color: rgba(89,12,29,0.2);
	border-radius: 10px;
	padding-left: 3%;
}

#aboutustitle img {
	width: 20%;
	font-size: 40px;
	opacity: 50%;
}
#aboutustitle span {
	width: 20%;
	font-size: 40px;
	color: rgb(145, 43, 48);
}

@media only screen and (max-width: 400px){
	#aboutustitle img {
	font-size: 30px;
	margin-left: 10%;

	}
	#aboutustitle span {
	font-size: 30px;
	}
}

#aboutus h5 {
	color: white;
	font-size: 150%;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

#aboutustitle2 {
	background-color: rgba(188,105,105, 0.6);
	border-radius: 10px;
	padding-left: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 2%;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

#aboutustitle2 i {
	font-size: 40px;
	opacity: 50%;
	color: black;
}
#aboutustitle2 span {
	width: 100%;
	font-size: 30px;
	font-weight: bolder;
	padding-left: 5%;
	opacity: 100%;
	color: #912B30;
}

@media only screen and (max-width: 400px){
	#aboutustitle2 i {
	font-size: 40px;
	margin-left: 10%;

	}
	#aboutustitle2 span {
	font-size: 25px;
	}
}

#aboutustitle2carousel {
	margin-bottom: 5%;
	margin-top: 2%;

}

#aboutustitle2carousel img {
	width: 90%;
	height: 150px;
	border: 2px solid white;
	border-radius: 10px;
	object-fit: cover;
	object-position: 60% 30%;
}

#aboutustitle2carousel h3 {
	font-size: 100%;
	font-weight: bolder;
	color: black;
	background: 
		linear-gradient(
			rgba(235,235,235,0.50),
			rgba(235,235,235,0.50)
		);
}


#aboutustitle2carousel p {
	font-size: 100%;
	font-weight: bolder;
	color: black;
	height: 40%;

	background: 
		linear-gradient(
			rgba(235,235,235,0.50),
			rgba(235,235,235,0.50)
		);
}

@media only screen and (max-width: 400px) {
	#aboutustitle2carousel h3 {
		font-size: 10px;
		font-weight: bolder;
		color: black;
		background: 
			linear-gradient(
				rgba(235,235,235,0.50),
				rgba(235,235,235,0.50)
			);
	}

	#aboutustitle2carousel p {
		display: hidden;
	}
}

#contactus {
	background-color: rgba(165, 161, 155,0.8);
	margin-top: 3%;
	padding-bottom: 2%;
	text-align: center;
}

#column1 a {
	font-size: 50px;
	padding-left: 3%;
	padding-right: 3%;
}

#column2 p {
	font-size: 100%;
	margin-top: 0px;
	margin-bottom: 1%;
	background-color: rgba(188,105,105, 0.6);
	border-radius: 8px;
}

#post-content{
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: maroon;
	box-sizing: border-box;
}

#post-title {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.kiosk h5 {
	font-size: 15px;
} 

#swatchkiosk {
	border: 2px solid rgba(188,105,105, 0.6);
	background-color: rgba(188,105,105, 0.6);
}

#swatchkiosk span {
	background-color: rgba(188,105,105, 0.6);
}

#column2 p {
	font-size: 15px;
}

#column2 button {
	font-size: 15px;
	color: white;	
	background-color: rgba(188,105,105, 0.6);
}

#column3 a {
	font-size: 15px;
	color: white;
	padding: 3%;
	border-radius: 5px;	
	background-color: rgba(188,105,105, 0.6);
}

h2~div {
	margin-top: 5%;
	padding-bottom: 5%;
}