* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	color: white;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background: 
		linear-gradient(
			rgba(235,235,235,0.95),
			rgba(235,235,235,0.90)
		),
		url(../../assets/img/WatchVectors.png);
	background-repeat: repeat;
	background-size: 400px;
	background-attachment: fixed;
}

nav {
  overflow: hidden;
  background-color: rgba(196, 25, 25, 0.6);
/*  position: sticky;*/ /* Set the navbar to fixed position */
/*  top: 0;*/ /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: center;
}

/* Links inside the navbar */
.navbar a {
  float: left;
/*  display: block;*/
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 auto;

}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgba(155, 15, 38,0.4);
  color: black;
}

nav img {
	width: 50px;
}

@media only screen and (max-width: 400px) {
	nav img {
		margin-left: 50%;
	}
}

.img-hover-zoom {
  height: 300px; 
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

#productbigbold {
	margin-top: 15%;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	background-color: rgba(155, 15, 38,0.4);
}

#productbigbold h1 {
	background-color: rgba(155, 15, 38,0.6);
	text-align: center;
	border-radius: 8px;	
}

#hrbigbold, #hrbigbold2 {
	border: 4px solid rgba(155, 15, 38,0.9);
}

#productbigbold2 > div {
	background-color: rgba(155, 15, 38,0.6);
	padding: 2%;
}

#productbigbold3 img {
	margin-top: 4%;
	border-radius: 8px;
	box-shadow: 5px 10px rgba(25,25,25,0.2);
}

#productbigbold3 h3 {
	background-color: rgba(155, 15, 38,0.6);
}

#productbigbold3 p {
	background-color: rgba(155, 15, 38,0.6);
}

#productdigital {
	margin-top: 5%;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	background-color: rgba(155, 15, 38,0.4);
}

#productdigital h1 {
	background-color: rgba(155, 15, 38,0.6);
	text-align: center;
	border-radius: 8px;	
}

#hrdigital, #hrdigital2 {
	border: 4px solid rgba(155, 15, 38,0.9);
}

#productdigital2 > div {
	background-color: rgba(155, 15, 38,0.6);
	padding: 2%;
}

#productdigital3 img {
	margin-top: 4%;
	border-radius: 8px;
	box-shadow: 5px 10px rgba(25,25,25,0.2);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#productdigital3 h3 {
	background-color: rgba(155, 15, 38,0.6);
}
#productdigital3 p {
	background-color: rgba(155, 15, 38,0.6);
}

#productclass {
	margin-top: 5%;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	background-color: rgba(155, 15, 38,0.4);
}

#productclass h1 {
	background-color: rgba(155, 15, 38,0.6);
	text-align: center;
	border-radius: 8px;	
}

#hrclass, #hrclass2 {
	border: 4px solid rgba(155, 15, 38,0.9);
}

#productclass2 > div {
	background-color: rgba(155, 15, 38,0.6);
	padding: 2%;
}

#productclass3 img {
	margin-top: 3%;
	border-radius: 8px;
	box-shadow: 5px 10px rgba(25,25,25,0.2);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#productclass3 h3 {
	background-color: rgba(155, 15, 38,0.6);
}

#productclass3 p {
	background-color: rgba(155, 15, 38,0.6);
}

#productwomen {
	margin-top: 5%;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: rgba(155, 15, 38,0.4);
}

#womentitle h1 {
	background-color: rgba(155, 15, 38,0.6);
	text-align: center;
	border-radius: 8px;	
}

#hrwomen, #hrwomen2 {
	border: 4px solid rgba(155, 15, 38,0.9);
}

#productwomen2 > div {
	background-color: rgba(155, 15, 38,0.6);
	padding: 2%;
	margin-bottom: 2%;
}

#productwomen3 div {
	margin-top: 1%;
	margin-bottom: 2%;
}

#productwomen3 img {
	margin-top: 4%;
	border-radius: 8px;
	box-shadow: 5px 10px rgba(25,25,25,0.2);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#productwomen3 h3 {
	background-color: rgba(155, 15, 38,0.6);
}
#productwomen3 p {
	background-color: rgba(155, 15, 38,0.6);
}

#productflikflak {
	margin-top: 2%;
	margin-left: 15px;
	margin-right: 15px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 3%;
	background-color: rgba(155, 15, 38,0.4);
}

#flikflaktitle h2 {
	background-color: rgba(155, 15, 38,0.6);
	text-align: center;
	border-radius: 8px;	
}

#hrflikflak, #hrflikflak2 {
	border: 4px solid rgba(155, 15, 38,0.9);
}

#productflikflak2 > div {
	background-color: rgba(155, 15, 38,0.6);
	padding: 2%;
/*	margin-bottom: 2%;*/
}

#productflikflak3 div {
	margin-top: 1%;
	margin-bottom: 2%;
}

#productflikflak3 img {
	border-radius: 8px;
	box-shadow: 5px 10px rgba(25,25,25,0.2);
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#productflikflak3 h3 {
	background-color: rgba(155, 15, 38,0.6);
}

#productflikflak3 p {
	background-color: rgba(155, 15, 38,0.6);
}

#makeyourown {
	margin-top: 3%;	
	background-color: rgba(155, 15, 38,0.5);
}

#makeyourown {
	background:
		linear-gradient(
			rgba(235,235,235,0.60),
			rgba(235,235,235,0.60)
		),
		url(../../assets/img/swatcheventlandscape3.jpg);

	height: 250px;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 3%;
}

#makeyourown h3 {
	font-size: 100%;
	font-weight: bolder;
	color: black;

}
#makeyourown p {
	font-size: 100%;
	font-weight: bolder;
	color: black;
}


#contactus {
	text-align: center;
	margin: 0 auto;
	margin-left: 15px;
	margin-right: 15px;
	background-color: rgba(165, 161, 155,0.8);
}

#contactus p {
	margin: 0 auto;
	text-align: center;
}


#contactus h3 {
	text-align: center;
}

#contactus a {
	margin-left: 8%;
	font-size: 30px;
	padding-left: 3%;
	padding-right: 3%;
}


#makeyourown a {
	font-size: 15px;
	padding: 1%;
	color: white;
	border-radius: 5px;	
	background-color: rgba(188,105,105, 0.6);
}

#post-title {
	margin: 3%;
}

#btn-publish {
	font-size: 15px;
	color: white;
	padding: 3%;
	border-radius: 5px;	
	background-color: rgba(188,105,105, 0.6);
	text-align: center;
	margin: 0 auto;
}

#post-content {
	width: 100%;
	height: 100px;
	padding: 10px;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: maroon;
	box-sizing: border-box;
}